body {
    font-family: Arial, sans-serif;
    background-image: url('../images/download.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-box {
    background-color: rgb(70, 69, 69);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    color: #fefefe;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: serif;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.password-container .form-control {
    padding-right: 40px; /* Adjust this based on the size of the icon */
}

.toggle-password {
    position: absolute;
    right: 10px; /* Adjust this to position the icon as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    font-size: 16px; /* Adjust size as needed */
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.form-check label {
    margin-right: 15px;
}

.alert {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"], #searchButton {
    background-color: #007bff;
    color: white;
}

button[type="button"] {
    background-color: #6c757d;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.register-link {
    margin-left: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    align-self: center;
}

.register-link:hover {
    text-decoration: underline;
}

.form-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.remember-me input {
    margin-right: 5px;
}

.login-as {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.login-as label {
    margin-right: 15px;
}